#logo {
	height: 3.5em;
}

#createButton {
	width: 80%;
	font-size: 1.7em;
	height: 3em;
	background-color: #FF7000;
	color: white;
}

#searchButton {
	width: 80%;
	font-size: 1.7em;
	height: 3em;
	color: #FF7000;
}

.preview {
	height: 250px;
	border-style: solid;
}

.verticalPadding {
	height: 40px;
}

.thumbnail {
	height: 240px;
	width: 100%;
}

#constructionHeader {
	font-size: 72px;
}

.constructionParagraph {
	font-size: 20px;
}

#construction {
	position: relative;
	top: 50px;
	left:100px;
}

.header {
	text-align: center;
}

.container {
	text-align: center;
}

.dropdown-toggle {
	margin-right: 10px;
}